@layer vintage {
  /**
   * Heading anchor links
   */
  .sl-markdown-content {
    h2 + .sl-anchor-link {
      --sl-vintage-anchor-y: 0.5rem;
    }

    h3 + .sl-anchor-link {
      --sl-vintage-anchor-y: 0.4375rem;
    }

    h4 + .sl-anchor-link {
      --sl-vintage-anchor-y: 0.375rem;
    }

    :is(h5, h6) + .sl-anchor-link {
      --sl-vintage-anchor-y: 0.3125rem;
    }

    .sl-anchor-link {
      color: var(--sl-color-gray-2);

      &:is(:hover, :focus-visible) {
        color: var(--sl-color-accent-high);
      }

      .sl-anchor-icon svg {
        transform: translate(0.25rem, var(--sl-vintage-anchor-y)) rotate(45deg);
      }
    }
  }
}
